<a href="https://colab.research.google.com/github/shreyansh273/TPS-May-2021/blob/main/TPS_May2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [ ]:
!mkdir /root/.kaggle
!cp kaggle.json /root/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c tabular-playground-series-may-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
  0% 0.00/128k [00:00<?, ?B/s]
100% 128k/128k [00:00<00:00, 47.5MB/s]
Downloading train.csv.zip to /content
  0% 0.00/1.72M [00:00<?, ?B/s]
100% 1.72M/1.72M [00:00<00:00, 56.6MB/s]
Downloading test.csv.zip to /content
  0% 0.00/851k [00:00<?, ?B/s]
100% 851k/851k [00:00<00:00, 118MB/s]

In [ ]:
!ls

kaggle.json  sample_submission.csv.zip	train.csv.zip
sample_data  test.csv.zip

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
train = pd.read_csv("train.csv.zip" , compression='zip', index_col='id')
test = pd.read_csv("test.csv.zip", compression='zip')

In [12]:
train.head()

    feature_0  feature_1  feature_2  ...  feature_48  feature_49   target
id                                   ...
0           0          0          1  ...           0           0  Class_2
1           0          0          0  ...           0           0  Class_1
2           0          0          0  ...           2           0  Class_1
3           0          0          0  ...           1           0  Class_4
4           0          0          0  ...           1           0  Class_2

[5 rows x 51 columns]

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 51 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   feature_0   100000 non-null  int64
 1   feature_1   100000 non-null  int64
 2   feature_2   100000 non-null  int64
 3   feature_3   100000 non-null  int64
 4   feature_4   100000 non-null  int64
 5   feature_5   100000 non-null  int64
 6   feature_6   100000 non-null  int64
 7   feature_7   100000 non-null  int64
 8   feature_8   100000 non-null  int64
 9   feature_9   100000 non-null  int64
 10  feature_10  100000 non-null  int64
 11  feature_11  100000 non-null  int64
 12  feature_12  100000 non-null  int64
 13  feature_13  100000 non-null  int64
 14  feature_14  100000 non-null  int64
 15  feature_15  100000 non-null  int64
 16  feature_16  100000 non-null  int64
 17  feature_17  100000 non-null  int64
 18  feature_18  100000 non-null  int64
 19  feature_19  100000 non-null  int64
 20  feature_20  100000 non-null  int64
 21  feature_21  100000 non-null  int64
 22  feature_22  100000 non-null  int64
 23  feature_23  100000 non-null  int64
 24  feature_24  100000 non-null  int64
 25  feature_25  100000 non-null  int64
 26  feature_26  100000 non-null  int64
 27  feature_27  100000 non-null  int64
 28  feature_28  100000 non-null  int64
 29  feature_29  100000 non-null  int64
 30  feature_30  100000 non-null  int64
 31  feature_31  100000 non-null  int64
 32  feature_32  100000 non-null  int64
 33  feature_33  100000 non-null  int64
 34  feature_34  100000 non-null  int64
 35  feature_35  100000 non-null  int64
 36  feature_36  100000 non-null  int64
 37  feature_37  100000 non-null  int64
 38  feature_38  100000 non-null  int64
 39  feature_39  100000 non-null  int64
 40  feature_40  100000 non-null  int64
 41  feature_41  100000 non-null  int64
 42  feature_42  100000 non-null  int64
 43  feature_43  100000 non-null  int64
 44  feature_44  100000 non-null  int64
 45  feature_45  100000 non-null  int64
 46  feature_46  100000 non-null  int64
 47  feature_47  100000 non-null  int64
 48  feature_48  100000 non-null  int64
 49  feature_49  100000 non-null  int64
 50  target      100000 non-null  object
dtypes: int64(50), object(1)
memory usage: 39.7+ MB

In [14]:
train.describe()

           feature_0      feature_1  ...     feature_48    feature_49
count  100000.000000  100000.000000  ...  100000.000000  100000.00000
mean        0.257830       0.431720  ...       0.970850       0.55712
std         0.929033       1.977862  ...       2.576615       1.68093
min         0.000000       0.000000  ...       0.000000       0.00000
25%         0.000000       0.000000  ...       0.000000       0.00000
50%         0.000000       0.000000  ...       0.000000       0.00000
75%         0.000000       0.000000  ...       1.000000       0.00000
max        10.000000      31.000000  ...      44.000000      20.00000

[8 rows x 50 columns]

In [15]:
train.isnull().sum()

feature_0     0
feature_1     0
feature_2     0
feature_3     0
feature_4     0
feature_5     0
feature_6     0
feature_7     0
feature_8     0
feature_9     0
feature_10    0
feature_11    0
feature_12    0
feature_13    0
feature_14    0
feature_15    0
feature_16    0
feature_17    0
feature_18    0
feature_19    0
feature_20    0
feature_21    0
feature_22    0
feature_23    0
feature_24    0
feature_25    0
feature_26    0
feature_27    0
feature_28    0
feature_29    0
feature_30    0
feature_31    0
feature_32    0
feature_33    0
feature_34    0
feature_35    0
feature_36    0
feature_37    0
feature_38    0
feature_39    0
feature_40    0
feature_41    0
feature_42    0
feature_43    0
feature_44    0
feature_45    0
feature_46    0
feature_47    0
feature_48    0
feature_49    0
target        0
dtype: int64